<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<title>速習 Spring Boot</title>
<style>
.high  {
     background-color: #FFC0CB
}

.low {
    background-color: #7FFFD4
}
</style>
</head>
<body>
<div th:if="${success}" class="alert alert-success">[[${success}]]</div>
<table class="table">
<thead>
<tr>
    <th>ISBNコード</th><th>書名</th><th>価格</th><th>出版社</th><th>刊行日</th>
</tr>
</thead>
<tbody>
<tr th:each="b : ${books}">
    <td>[[${b.isbn}]]</td>
    <td>[[${b.title}]]</td>
    <td>[[${#numbers.formatInteger(b.price, 3, 'COMMA')}]]円</td>
    <td>[[${b.publisher}]]</td>
    <td>[[${#temporals.format(b.published, 'yyyy年MM月dd日')}]]</td>

</tr>
</tbody>
</table>

<br>
<p>th:if="${b.price ge 3000}"</p>
<table class="table">
<thead>
<tr>
    <th>ISBNコード</th>
    <th>書名</th>
    <th>価格</th>
    <th>出版社</th>
    <th>刊行日</th>
    <th>イメージ</th>
    <th>current</th>
    <th>index</th>
    <th>count</th>
    <th>size</th>
    <th>even</th>
    <th>odd</th>
    <th>first</th>
    <th>last</th>
</tr>
</thead>
<tbody>
<tr th:each="b,status : ${books}" th:if="${b.price ge 3000}">
    <td>[[${b.isbn}]]</td>
    <td th:text="${b.title} ?: '(未定)'"></td>
    <td th:class="${b.price ge 3500} ? 'high':'low'">[[${#numbers.formatInteger(b.price, 3, 'COMMA')}]]円</td>
    <td>[[${b.publisher}]]</td>
    <td>[[${#temporals.format(b.published, 'yyyy年MM月dd日')}]]</td>
    <td th:switch="${b.attach}">
       <span th:case="'cd'">
            <img th:src="@{/image/cd.png}" th:alt-title="${b.attach}">
        </span>
        <span th:case="'dvd'">
             <img th:src="@{/image/dvd.png}" th:alt-title="${b.attach}">
        </span>
        <span th:case="'dl'">
              <img th:src="@{/image/dl.png}" th:alt-title="${b.attach}">
         </span>
         <span th:case="*">
             －
          </span>
    </td>
    <td>[[${status.current}]]</td>
    <td>[[${status.index}]]</td>
    <td>[[${status.count}]]</td>
    <td>[[${status.size}]]</td>
    <td>[[${status.even}]]</td>
    <td>[[${status.odd}]]</td>
    <td>[[${status.first}]]</td>
    <td>[[${status.last}]]</td>
</tr>
</tbody>
</table>
</body>
</html>